<div class="hero-detail"
    *ngIf=hero>
  <button class="hero-detail__gb-button"
          (click)="goBack()"
  >< Go back</button>
  <h2 class="hero-detail__heading">
    <span>{{ hero.name | uppercase }}</span> Details
  </h2>
  <div class="hero-detail__property-name-wrapper">
    <span class="hero-detail__property-name">id:&nbsp;</span>{{ hero.id }}
  </div>
  <div>
    <label>
      <span class="hero-detail__property-name">name:&nbsp;</span>
      <input class="hero-detail__input"
        [(ngModel)]="hero.name" placeholder="name"
      >
    </label>
  </div>
</div>
